body {
    background:#eee;
}

body > .row {
    margin-left:0;
    margin-right:0;
}

#internav ul {
    margin-top: 0px;
    margin-bottom: 10px;
}
#internav li a {
    color: #666;
    padding: 12px 15px;
    text-decoration: none;
    border:none !important;
    line-height: 14px;
}
#internav li a:hover,
#internav li a:focus,
#internav li a.active {
    background: #767676;
    color: #fff;
}

#internav form div {
    margin-top: 4px;
    margin-left: 25px
}

#framanav .nav {
    max-height:42px;
}
#framanav .nav > li:last-child {
    max-height:42px;
}

header {
    padding: 2em 1em 0.5em;
}

header .lead {
    color: #666;
    font: italic 1.3em/1.35 "PT Sans",Arial,sans-serif;
    padding-top: 1.65em;
    margin-bottom: 0.5em;
}
h1 a, h3 a, h4 a,
h1 a:hover, h3 a:hover, h4 a:hover,
h1 a:focus, h3 a:focus, h4 a:focus {
    text-decoration:none;
}
header a,
h1 a, h1 a:hover, h1 a:focus,
h2 a, h2 a:hover, h2 a:focus,
h3 a, h3 a:hover, h3 a:focus,
h4 a, h4 a:hover, h4 a:focus,
h5 a, h5 a:hover, h5 a:focus{
    text-decoration: none;
}

main {
    margin-bottom:30px;
}

.container.ombre {
    padding-top:15px;
    padding-bottom:15px;
}

.leds {
    background: #677835;
    border-radius:0 !important;
    display:none;
    margin: 30px 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.leds .close {
    float:right;
    right:auto;
    top:auto;
    margin-top:-10px;
}

#leds {
    top: -140px;
    border:none;
}


.btn-soutenir {
    font-size:24px;
    font-weight:bold;
    margin-bottom:20px;
}

.btn-xs.btn-soutenir {
    font-size:12px;
    font-weight:normal;
    margin:0px;
}
.modal-footer .btn-soutenir {
    font-size:14px;
    font-weight:normal;
    margin:0;
}

#back-to-top {
    display:none;
    position:fixed;
    bottom:30px;
    right:30px;
    font-size: 3em;
    padding: 8px 10px;
    border-radius: 10px;
    background-color: #767676;
    opacity:0.4;
    color: #FFF;
    border:none;
}

#back-to-top:hover,
#back-to-top:focus {
    opacity:1;
}

.thumbnail p {
    margin-top:20px;
}

.tab-pane {
    padding : 20px 0;
}

#screenshots .col-sm-4 {
    height: 350px;
}

.panel-default > .panel-heading {
    background : #E3EBC7;
}

.panel {
    border: 1px solid #C0D481;
    margin-bottom:20px !important;
    margin-left:15px;
    margin-right:15px;
}

.panel td:first-child,
.panel th:first-child {
    width:50%;
}

.panel td .col-sm-6 {
    padding:0;
}

@media (min-width: 768px) {
    .panel td:first-child,
    .panel th:first-child {
        width:33%;
    }

    .panel td .col-sm-6:first-child {
        padding-right:8px;
    }
}



.panel td:first-child,
.panel th:first-child {
    border-right:1px solid #ccc !important;
}


.panel-title i {
    float:left;
}
.panel-heading a,
.panel-heading a:link,
.panel-heading a:hover {
    text-decoration:none !important;
}
.panel-title {
    font-size:20px;
}

table .list-group-item img {
    width:24px;
    height:24px;
}

.table-hover > tbody > tr td {
    padding-top:42px;
}

.table-hover > tbody > tr td:first-child {
    padding-top:6px;
}

.table-hover > tbody > tr td:first-child h3 a {
    padding-left:10px;
    color:#616161;
}

.table-hover > tbody > tr:hover td {
    border-color: #C0D481;
    background-color: #E3EBC7;
}
.table-hover > tbody > tr:hover td:first-child {
    border-color: #E0B3A8;
    background-color: #FDE0DC;
}

a {
    border-bottom: 1px solid #bdbdbd;
    text-decoration:none !important;
}

a:hover,
a:focus {
    border-bottom: 2px solid #949494;

    -webkit-transition: all 100ms ease 0s;
    -moz-transition: all 100ms ease 0s;
    -o-transition: all 100ms ease 0s;
    transition: all 100ms ease 0s;
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a,
h1 a:hover, h2 a:hover, h3 a:hover,
h4 a:hover, h5 a:hover, h6 a:hover,
h1 a:focus, h2 a:focus, h3 a:focus,
h4 a:focus, h5 a:focus, h6 a:focus,
a[href="https://framasoft.org"],
#framanav a { border : none;}

a.btn:hover,
a.btn:focus {
    border-bottom-width : 1px;
}